@use "./base/clearDefault" as *;
@use "./base/colors" as *;
@use "./base/mixins" as *;
@use "./base/typography" as *;

$theme-colors: (
    "primary": $primary-100,
    "secondary": $accent-100,
);

@import "~bootstrap";

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: $base;
    background-color: $bg-100;
}
